<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>
<body class="" id="body-pd">
<nav class="navbar navbar-expand-lg navbar-dark bd-navbar bg-light sticky-top position-fixed fixed-top w-100" style="position : absolute">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between">
    <a href="../../static" class="navbar-brand">
      <img class="img-fluid" src="../../static/images/logo2.png" alt="logo2" style="height: 40px;"><use xlink:href="#bootstrap"></use></svg>
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
      <li><a href="#" class="nav-link px-2 link-dark">Features</a></li>
      <li><a href="#" class="nav-link px-2 link-dark">Pricing</a></li>
      <li><a href="#" class="nav-link px-2 link-dark">FAQs</a></li>
      <li><a href="#" class="nav-link px-2 link-dark">About</a></li>
    </ul>
  </header>
</nav>

<!-- side nav bar -->
<div class="l-navbar" id="navbar">
  <nav class="navv">
    <div>
      <div class="nav__brand">
        <ion-icon name="menu-outline" class="nav__toggle" id="nav-toggle"></ion-icon>
      </div>
      <div class="nav__list">
        <a href="#" class="nav__link active">
          <div style="width: 20px; height: 20px;">
            <i class="bi bi-mortarboard nav__icon "></i>
          </div>
          <span class="nav_name">학사관리</span>
        </a>
        <a href="#" class="nav__link">
          <div style="width: 20px; height: 20px;">
            <i class="bi bi-file-earmark-text nav__icon "></i>
          </div>
          <span class="nav_name">결재</span>
        </a>

        <div href="#" class="nav__link collapses">
          <ion-icon name="folder-outline" class="nav__icon"></ion-icon>
          <span class="nav_name">Projects</span>

          <ion-icon name="chevron-down-outline" class="collapse__link"></ion-icon>

          <ul class="collapse__menu">
            <a href="#" class="collapse__sublink">Data</a>
            <a href="#" class="collapse__sublink">Group</a>
            <a href="#" class="collapse__sublink">Members</a>
          </ul>
        </div>

        <a href="#" class="nav__link">
          <ion-icon name="pie-chart-outline" class="nav__icon"></ion-icon>
          <span class="nav_name">Analytics</span>
        </a>

        <div href="#" class="nav__link collapses">
          <ion-icon name="people-outline" class="nav__icon"></ion-icon>
          <span class="nav_name">Team</span>

          <ion-icon name="chevron-down-outline" class="collapse__link"></ion-icon>

          <ul class="collapse__menu">
            <a href="#" class="collapse__sublink">Data</a>
            <a href="#" class="collapse__sublink">Group</a>
            <a href="#" class="collapse__sublink">Members</a>
          </ul>
        </div>

        <a href="#" class="nav__link">
          <ion-icon name="settings-outline" class="nav__icon"></ion-icon>
          <span class="nav_name">Settings</span>
        </a>
      </div>
      <a href="#" class="nav__link">
        <ion-icon name="log-out-outline" class="nav__icon"></ion-icon>
        <span class="nav_name">Log out</span>
      </a>
    </div>
  </nav>
</div>
<!-- /side nav bar -->

<!------- main content ------------>
<div class="container-fluid w-100" style=" background-color: rgb(214, 225, 237);">
  <div class="row">

    <!-- content header -->
    <div class="col-12 p-4" style="height: 150px; background-color: rgb(95, 142, 241); vertical-align: middle;">
      <div class="d-flex flex-row" >
        <div class="text-white h4">안녕하세요. <b>김중앙</b>님!</div>
        <span class="border border-1 border-white border-bottom rounded-pill text-white px-2 pt-1 pb-0 ms-2 me-3"
              style="font-size: 12px; height: 24px;">교수</span>
        <i class="text-white bi-gear-fill mx-2" style="height: 18px;"></i>
      </div>
      <div class="d-flex text-white" style="font-size: 14px;">이공대학 컴퓨터공학과 | 정교수</div>
      <div class="d-flex flex-low text-white" style="font-size: 14px;">
        <i class="bi bi-envelope-fill me-3 ml-0 "></i>test123@naver.com
      </div>
    </div>

    <!------------- card header  컨텐츠 폼------------->
    <main class="col-9 h-100 w-100">
      <div class="row m-5">
        <!------------- 컨텐츠 경로 ------------->
        <div class="col-12 rounded-top text-white overflow-auto pt-2 fw-bold" style="background-color: rgb(39, 40, 70); height: 40px;">
          <i class="bi bi-bookmark-fill me-2"></i>교수서비스 <i class="bi bi-chevron-right"></i>학사관리 <i class="bi bi-chevron-right"></i>강의 시간표 조회
        </div>
        <!----- card content 내용 ------>
        <div class="col-12 rounded-bottom ㄱoverflow-auto bg-light p-5" style="min-height: 550px;">
          <h2>강의개설</h2>
<!--          <p style="font-size: 12px;">총 <b style="color: red;">2</b>개의 수업이 있습니다</p>-->
<!--          <p style="font-size: 12px;"></p>-->
          <hr>

          <div class="row mb-3 ">
<!--            <div class="col-md-8 themed-grid-col text-left form-group" style="display: inline;">-->
<!--              <div class="col-md-8 row mb-3 ">-->
                <div class="form-group col-md-4 text-left" style="display:inline; float:left;">
                  <label style="font-size: 0.8rem;">년도/학기</label>
                  <input class="form-control form-control-sm m-0" type="text" placeholder="개설년도" style="width: 25%;">
<!--                  <label class="form-label" style="font-size: 0.8rem;">학기</label>-->
                  <select class="form-select-sm" style="height: 31px;">
                    <option selected=""style="font-size: 0.8rem;">학기</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                  </select>
                </div>

            <div class="col-md-5">
            <div class="form-check" style="font-size: 0.8rem; display: inline;" >
              <div>
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">전공</label></div>
              <div><input type="checkbox" class="form-check-input" id="exampleCheck2">
              <label class="form-check-label" for="exampleCheck2">교양</label></div>
            </div>


            <div class="input-group" style="width: 45%;">
              <label class="form-label me-1" style="font-size: 0.8rem; ">강의명</label>
              <input class="form-control form-sm" type="text" aria-describedby="button-search" style="height: 31px;">
              <button class="btn btn-secondary btn-sm" id="button-search" type="button">검색</button>
            </div>
            </div>

<!--            <div class="col-md-5">-->
<!--              -->
<!--              -->
<!--              <label for="firstName" class="form-label">First name</label>-->
<!--              <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">-->
<!--              <div class="invalid-feedback">-->
<!--                Valid first name is required.-->
<!--              </div>-->
<!--            </div>-->

<!--            <div class="col-sm-6">-->
<!--              <label for="lastName" class="form-label">Last name</label>-->
<!--              <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">-->
<!--              <div class="invalid-feedback">-->
<!--                Valid last name is required.-->
<!--              </div>-->
<!--            </div>-->


<!--                </div>-->

<!--            </div>-->

            <div class="col-2 col-md-4 themed-grid-col text-right" style="float: right;">
<!--              <button type="button" class="btn btn-danger btn-sm">조회</button>-->
              <button type="button" class="btn btn-dark btn-sm">&nbsp;신규&nbsp;</button>
              <button type="button" class="btn btn-primary btn-sm">&nbsp;저장&nbsp;</button>
              <button type="button" class="btn btn-secondary btn-sm">&nbsp;삭제&nbsp;</button>


            </div>
          </div>

        </div>
        <!-- footer -->
        <footer class="col-12" style="height: 60px; font-size: 12px;">
          @2022 ChoongAng University. All Rights Reserved.
        </footer>
      </div>
    </main>
  </div>
</div>
</body>
</html>